@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #F0F2F5;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.app-main {
  padding: 15px 20px;
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.el-loading-spinner .circular {
  margin-top: 6px;
  height: 30px;
  width: 30px;
}

// (2) bfc
.ovh {
  overflow: hidden;
}

.ova {
  overflow: auto;
}

// (3) display
.inb {
  display: inline-block;
}

.dsn {
  display: none;
}

// (4) 定位
.fixed {
  position: fixed;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

// (6)加粗
.fw400 {
  font-weight: 400;
}

.bold {
  font-weight: bold; // 900
}

// (7)居中
.tac {
  text-align: center;
}

// (8) 行高
.lh15 {
  line-height: 1.5;
}

// (9) 盒模型
.bzb {
  box-sizing: border-box;
}

// (10) 手形光标
.cp {
  cursor: pointer;
}

.f999 {
  color: #999;
}

.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f24 {font-size:24px;}
.f26 {font-size:26px;}
.f28 {font-size:28px;}
.f30 {font-size:30px;}
